.portretBlock{
    width: 100%;
    height: 100%;
}
.portretBlock .portretContent{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.portretBlock .portretContent > img{
    width: 150%;
    position: relative;
    right: 10vw;
}
