
.header {
    width: 100vw;
    height: 7vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
}

.header .headerCont {
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header .headerCont .headerComponent {
    height: 100%;
    border: 1px solid rgb(161, 105, 105);
}



.header .headerCont .LogoBlock {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.5vw;
}

.header .headerCont .NaviBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}