.tittleServicesComp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittleServicesComp .tittleBl {
    width: 30%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittleServicesComp .tittleBl>img {
    width: 70%;
}